body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  margin: 0;

  background-color: hsl(212, 45%, 89%);

  font-family: 'Outfit', sans-serif;
  font-size: 0.9375;
  color: hsl(218, 44%, 22%);
}

img {
  max-width: 100%;
  border-radius: 10px;
}

main {
  max-width: 18.43rem;

  padding: 1rem;

  border-radius: 18px;

  background-color: white;
}

.h1 {
  font-size: 1.3rem;
  text-align: center;
  margin-block: 1.2rem;
}

.description {
  text-align: center;
  color: hsl(220, 15%, 55%);
}
